[submodule "mobile"]
	path = mobile
	url = https://github.com/SergioSantiag0/GoBarber-mobile
[submodule "frontend"]
	path = frontend
	url = https://github.com/SergioSantiag0/GoBarber-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/SergioSantiag0/GoBarber-backend
[submodule "web"]
	path = web
	url = https://github.com/SergioSantiag0/GoBarber-frontend
[submodule "frontend-web"]
	path = frontend-web
	url = https://github.com/SergioSantiag0/GoBarber-frontend
[submodule "frontend-mobile"]
	path = frontend-mobile
	url = https://github.com/SergioSantiag0/GoBarber-mobile
[submodule "backend-api"]
	path = backend-api
	url = https://github.com/SergioSantiag0/GoBarber-backend
